<a href="https://colab.research.google.com/github/TanishqLambhate/Data-Science-Training/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder\
.appName("PySpark Notebook Example")\
.getOrCreate()
spark

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("PySpark DataFrame Example") \
    .getOrCreate()

# Sample data representing employees
data = [
    ("John Doe", "Engineering", 75000),
    ("Jane Smith", "Marketing", 60000),
    ("Sam Brown", "Engineering", 80000),
    ("Emily Davis", "HR", 50000),
    ("Michael Johnson", "Marketing", 70000),
]

# Define schema for DataFrame
columns = ["Name", "Department", "Salary"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
df.show()

+---------------+-----------+------+
|           Name| Department|Salary|
+---------------+-----------+------+
|       John Doe|Engineering| 75000|
|     Jane Smith|  Marketing| 60000|
|      Sam Brown|Engineering| 80000|
|    Emily Davis|         HR| 50000|
|Michael Johnson|  Marketing| 70000|
+---------------+-----------+------+

In [5]:
high_salary_df=df.filter(col("Salary")>65000)
print("Employees with Salary>65000:")
high_salary_df.show()

Employees with Salary>65000:
+---------------+-----------+------+
|           Name| Department|Salary|
+---------------+-----------+------+
|       John Doe|Engineering| 75000|
|      Sam Brown|Engineering| 80000|
|Michael Johnson|  Marketing| 70000|
+---------------+-----------+------+

In [6]:
avg_salary_df=df.groupBy("Department").avg("Salary")
print("Average Salary by Department:")
avg_salary_df.show()

Average Salary by Department:
+-----------+-----------+
| Department|avg(Salary)|
+-----------+-----------+
|Engineering|    77500.0|
|  Marketing|    65000.0|
|         HR|    50000.0|
+-----------+-----------+